<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Upload</title>
</head>

<body>
    {% include 'header.html' %}
    <h2>Document Upload</h2>
    <form method="post" action="{{ url_for('document_upload') }}" enctype="multipart/form-data">
        <label for="pan">Upload PAN Card:</label>
        <input type="file" id="pan" name="document" accept=".pdf, .jpg, .jpeg, .png" required>
    
        <label for="aadhar">Upload Aadhar Card:</label>
        <input type="file" id="aadhar" name="document" accept=".pdf, .jpg, .jpeg, .png" required>
    
        <button type="submit">Upload Documents</button>
    </form>
    {% include 'footer.html' %}
</body>

</html>
